<div class="container centered-vertically banner">
  <h1 class="main-title">StoryTree</h1>

  <div class="options-container">
    <%= link_to "All Stories", stories_path, class: "oval-bordered-button" %>
    <%= link_to "New Story", new_story_path, class: "oval-bordered-button" %>
  </div>
</div>

