<div class="container centered-vertically full-screen-height">
  <h1>Create a new story :</h1>
  <%= simple_form_for @story,html: { class: "rounded-container centered-vertically"} do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit, class: "oval-bordered-button" %>
  <% end %>
</div>
