.structure-container{
  height: 100vh;
  width: 100vw;
  display: flex;

  .structure-sidenav{
    height: 90vh;
    margin: 5vh 1vw;
    background-color: rgba(29,21,94,0.7);
    border-radius: 40px;
    padding: 30px;
    width: 100px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;

    i{
      color: rgb(224, 114, 255);
      font-size: 30px;
      margin: 20px 0;
      transition: all 0.5s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }


  .structure-content{
    // width: 100%;
    margin: 5vh 1vw;
    display: flex;
    flex-direction: column;

    .structure-title-container{
      margin-left: 20px;
    }

    .story-cards, .choices{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;

      a{
        text-decoration: none;
      }
      .story-card, .choice{
        color: white;
        transition: all 0.5s;
        min-height: 150px;

        h3{
          color: rgb(224, 114, 255);
          margin-bottom: 20px;
        }

        &:hover{
          transform: scale(1.1);
        }

      }
    }

    .choice{
      position: relative;


      .choice-edition{
        display: none;
      }

      .choice-options{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
          color: rgb(224, 114, 255);
          border: 1px solid rgb(224, 114, 255);
          border-radius: 50%;
          padding: 15px;

          &:hover{
            color: white;
            border: 1px solid white;
            cursor: pointer;
          }

        }
      }

      .del-ico{
        position: absolute;
        top: 100%;
        left: 100%;
      }
      .choice-ico{
        position: absolute;
        top: 10px;
        left: 85%;
          &.green{
            i{
              color: green;
            }
          }
          &.red{
            i{
              color: red;
            }
        }
      }
    }
  }

}
